{% extends "layouts/base.html" %}
{% load static %}
{% block title %} The Book List {% endblock title %}
{% block stylesheets %}
<!-- here I'll style the way books will be listed-->
<style>
.table-book{
    width: 30%;
    height: 30%;
    border-collapse: collapse;
    margin: 20px auto;
    font-size: 1em;
    font-family: Times New Roman;
    text-align: center;
    
}
/*
tr{
    border: 1px solid; 
    width: 30%;
    height: 30%;
}
*/
tr :hover{
    background-color: rgb(230, 200, 224); 
}
th{
    background-color: rgb(155, 191, 184); 
    border: 1px solid; 
    width: 30%;
    height: 30%;
}
td , tr{
    border: 1px solid; 
    width: 30%;
    height: 30%;
}

</style>
{% endblock stylesheets %}


{% block content %}

<table class="table-book">

  <tr>
    <th><b>ID</b></th>
    <th><b>Title</b></th>
    <th><b>Author</b></th>
  </tr>
  {% for book in books %}
    <tr>
        <td>{{book.id}}</td>
        <td>{{book.title}}</td>
        <td>{{book.author}}</td> 
    </tr>

  {% endfor %}
   
 </tr>
  <tr>
     <td>this is testing row1</td>
     <td>this is testing row2</td>
     <td>this is testing row3</td>
  </tr>






</table>
{% endblock content %}