{% extends "layouts/base2.html"%}

{% block content %}

<div class ="container">
    <div id="section1" class= "sections">
        <a href="https://qu.edu.sa/"target="_blank"> Go to QU website (open in a new tab)
        </a>
    </div>
    <div id="section2" class= "sections">
        <a href="https://qu.edu.sa/"target="_parent"> Go to QU website (open in the same  page/tab)
        </a>
    </div>
    <div id="section3" class= "sections">
        <a href="https://qu.edu.sa/"target="_self"> Go to QU website (open in the same  page/tab)
        </a>
    </div>
</div>
{% endblock content %}