<!DOCTYPE html>
<html>
<head>
    <title>Products List</title>
    <style>
        table {
            width: 80%;
            border-collapse: collapse;
            margin: 20px 0;
        }
        th, td {
            border: 1px solid #666;
            padding: 10px;
        }
        th {
            background-color:rgb(209, 158, 208);
        }
        .actions a {
            margin-right: 10px;
        }
    </style>
</head>
<body>
    <h1>List of Products</h1>

    <table>
        <thead>
            <tr>
                <th>kind</th>
                <th>company</th>
                <th>expire year</th>
                <th>Actions</th>
              
            </tr>
        </thead>
        <tbody>
            {% for p in products %}
                <tr>
                    <td>{{ p.kind }}</td>
                    <td>{{ p.company.name }}</td>
                    <td>{{ p.expire_year }}</td>
                    <td class="actions">
                        <a href="{% url 'editproduct' p.id %}">Edit product</a>
                        <a href="{% url 'delproduct' p.id %}">Delete product</a>
                        <a href="{% url 'viewproduct' p.id %}">view product</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">No books available.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
