{% extends "layouts/base.html" %}
{% load static %}
{% block title %} The Book List {% endblock title %}
{% block stylesheets %}
<!-- here I'll style the way books will be listed-->
<style>
.table-book{
    width: 30%;
    height: 30%;
    border-collapse: collapse;
    margin: 20px auto;
    font-size: 1em;
    font-family: Times New Roman;
    text-align: center;
    
}
/*
tr{
    border: 1px solid; 
    width: 30%;
    height: 30%;
}
*/
tr :hover{
    background-color: rgb(230, 200, 224); 
}
th{
    background-color: rgb(155, 191, 184); 
    border: 1px solid; 
    width: 30%;
    height: 30%;
}
td , tr{
    border: 1px solid; 
    width: 30%;
    height: 30%;
}

</style>
{% endblock stylesheets %}


{% block content %}

<table class="Task 5">
<!--   numOfbooks = Book.objects.count()
    totalPrice = Sum('price',default=0)
    avgPrice = Avg('price',default=0)
    maxPrice = Max('price',default=0)
    minPrice -->

  <tr>
    <td><b>Number of Books </b></td>
    <td>{{Query.NumBooks}} </td>
  </tr>
  <tr>
    <td><b>Total Price </b></td>
    <td>{{Query.total}} </td>
  </tr>
  <tr>
    <td><b>Average Price </b></td>
    <td>{{Query.average}} </td>
  </tr>
  <tr>
    <td><b>Max Price </b></td>
    <td>{{Query.max}} </td>
  </tr>
  <tr>
    <td><b>Min Price </b></td>
    <td>{{Query.min}} </td>
  </tr>
 



</table>


{% endblock content %}